services:
  postgres:
    image: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    networks:
      - my-app-network
    volumes:
      # Postgres 18+: mount the parent dir, not /var/lib/postgresql/data
      - pgdata:/var/lib/postgresql
      - ./initDbScript/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - 5432:5432
    
  # redis:
  #   image: redis
  #   environment:
  #     REDIS_PASSWORD: password
  #   networks:
  #     - my-app-network
  #   volumes:
  #     - ./RedisData:/data
  #   command: ["redis-server", "--requirepass", "password"]
  #   ports:
  #     - 6379:6379

networks:
  my-app-network:
    driver: bridge

volumes:
  pgdata:
    driver: local
  